

@{
    ViewData["Title"] = "Add Article";
}

  

@model AddArticleRequest
<h2 class="h2 m-3">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg>
    Add Article 
</h2>

<div class="container">

    <form method="post" asp-action="AddArticle" asp-controller="AdminArticles">

        <div class="mb-3 ">
            <label for="Heading" class="form-label" >Heading: </label>
            <input type="text" asp-for="Heading" id="Heading" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label for="PageTitle" class="form-label">Page Title: </label>
            <input type="text" asp-for="PageTitle" id="PageTitle" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label for="Content" class="form-label">Content: </label>
            <textarea   asp-for="Contnet" id="Content" class="form-control"> </textarea>
        </div>

        <div class="mb-3">
            <label for="ShortDescription" class="form-label">Short Description: </label>
            <input type="text" asp-for="ShortDescription" id="ShortDescription" class="form-control" />
        </div>
        
        <div class="mb-3">
            <label for="FeaturedImaageUrl" class="form-label">Featured Imaage Url: </label>
            <input type="text" asp-for="FeaturedImaageUrl" id="FeaturedImaageUrl" class="form-control" />
        </div>
        
         <input type="hidden" asp-for="PublishDate">

        <div class="mb-3">
            <label for="Author" class="form-label">Author: </label>
            <input type="text" asp-for="Author" id="Author" class="form-control" />
        </div>


        <div class="mb-3 form-check">
            <input class="form-check-input" type="checkbox" value="true" id="visible" asp-for="Visible">
            <label class="form-check-label" for="visible">
                Visible
            </label>
        </div>
        <hr />
 
        @if ( Model.Tags .Count() > 0    )
        {
            <div class="mb-3">  
                <label class ="form-label" for="a"> Tags </label>
                     <select
                         multiple
                         class="form-select"
                         asp-for="SelectedTags">
                         @foreach(Tag tag in Model.Tags)
                         {
                             <option value="@tag.TagID">@tag.Name</option>
                         }
            </select>
            </div>
        }else
        {
            <a class="link-primary" asp-action="AddTag" asp-controller="AdminTags"> Add Tag First</a>
        }





        <hr />
        <div class="mb-3">
            <input class="btn btn-dark" type="submit" value="Post It">
        </div>
     
    
    </form>

</div>