@model TagResponse;

@{
    ViewData["Title"] = "Delete Tag";
}


<form method="post" asp-controller="admintags" asp-action="DeleteTheTag">
    <input type="hidden" value="@Model.TagID" asp-for="TagID" />
    <div class=" form-group">
        <label for="TagName">Name</label>
        <input asp-for="Name" id="TagName" class="form-control" disabled type="text" value="@Model.Name"/>
    </div>
    <div class=" form-group">
        <label for="DisplayName">Dispaly Name</label>
        <input asp-for="DisplayName" id="DisplayName" class="form-control" disabled type="text" value="@Model.DisplayName"/>
    </div>

    <input type="submit" class="btn btn-success" />

</form>