@* @using Entities.Domain; *@
@model List<TagResponse>
@{
    ViewData["Title"] = "All Tags";
}

<h1 class="h1 text-center" > Tags List</h1>
    

<a asp-controller="tags" asp-action="AddTag" class="btn btn-primary m-2">Add Tag</a>

<table class="table table-striped table-bordered m-2">
    <thead>
        <tr>
            <td>Tag Name</td>
                <td>  DisplayName  </td>
                <td>Optinos </td>
            </tr>
    </thead>
    <tbody>
        @foreach(var tag in Model)
            {
                <tr>
                    <td>@tag.Name</td>
                    <td>
                    <a asp-action="GetTag" asp-controller="tags" asp-route-id="@tag.TagID" class="stretched-link link-primary">@tag.DisplayName</a>
                      </td>
                    <td>
                        <a asp-action="updatetag" asp-controller="tags" asp-route-TagId = "@tag.TagID"    class="btn btn-warning">Update</a>
                </td>
                </tr>
            }
        </tbody>

</table>