 
@model TagResponse;

@{
    ViewData["Title"] = $"Update {Model.DisplayName}";
}


<form method="post" asp-controller="tags" asp-action="UpdateTheTag">
    <input type="hidden" value="@Model.TagId" asp-for="TagId" />
    <div class=" form-group">
        <label for="TagName">Name</label>
        <input asp-for="Name" id="TagName" class="form-control" type="text" value="@Model.Name"/>
    </div>
    <div class=" form-group">
        <label for="DisplayName">Dispaly Name</label>
        <input asp-for="DisplayName" id="DisplayName" class="form-control" type="text" value="@Model.DisplayName"/>
    </div>

    <input type="submit" class="btn btn-success mb-3" />
                    <a asp-action="deletetag" asp-controller="tags" asp-route-TagId="@Model.TagId" class="btn btn-danger">Delete</a>

</form>