@model List<ArticleResponse>

<h1 class="m-3 mt-4">All Articles</h1>



<div class="container  mt-5">

    <table class="table table-bordered table-striped  ">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heading</th>
                <th>Tags</th>
                <th>Options</th>
            </tr>

        </thead>
        <tbody>
            @foreach (ArticleResponse art in Model)
            {
                <tr>
                    <td>@art.ArticleId</td>
                    <td> <a asp-action="GetArticle" asp-controller="Articles" asp-route-id="@art.ArticleId"
                            class="link-primary">

                            @art.Heading

                        </a></td>
                    <td>
                        @if(art.Tags == null || art.Tags.Count == 0)
                        {
                            <span>No Tags In This Article</span>
                        }else { 
                            @foreach (Tag tag in art.Tags)
                            {
                                <span class="badge bg-success">@tag?.DisplayName</span>
                            }
                        }
                    </td>

                    <td><a class="link-primary" asp-action="EditArticle" asp-controller="Articles" asp-route-id = "@art.ArticleId" > Edit</a></td>
                </tr>
            }

        </tbody>
    </table>

</div>