@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<ul class="list-group list-group-flush">
    <li><a class="list-group-item" asp-controller="admintags" asp-action="index">All Tags</a></li>
    <li><a class="list-group-item" asp-controller="admintags" asp-action="addtag">Add Tag</a></li>
    <li><a class="list-group-item" asp-controller="adminArticles" asp-action="index">all Article </a></li>
    <li><a class="list-group-item" asp-controller="adminArticles" asp-action="addarticle">Add  Article </a></li>

</ul>