@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center m-5">
    <h1 class="display-4">Articly - Write whatever in your mind</h1>
     
</div>



<table class="text-center table table-striped table-bordered table-hover m-5"  >
    <tr>  <th><a class="text-primary" asp-controller="Tags" asp-action="index">All Tags</a></th></tr>
    <tr> <th><a class="link-primary" asp-controller="Tags" asp-action="addtag">Add Tag</a></th>   </tr>
    <tr>  <th><a asp-controller="Articles" asp-action="index">All Article </a></th> </tr>
    <tr> <th><a asp-controller="Articles" asp-action="addarticle">Add  Article </a></th></tr>

</table>
 