@model List<ArticleResponse>

<h1 class="m-3">All Blogs</h1>



<div class="container border rounded border-dark-subtle">
    @foreach(ArticleResponse art in Model)


    {
        <div>

            Het
        </div>

    }
    ksnfklnsdfnsdfnsdlknfosdn
</div>